%script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places"}
.form
  = form_for @event do |f|
    %fieldset
      .form-group
        .row
          .col-md-6
            = f.label :org
            = f.text_field :org_name, class: "form-control", placeholder: "Association of Computer Engineers"
          .col-md-3
            = f.label :date
            = f.date_field :date, class: "form-control"
          .col-md-3
            = f.label :time
            = f.time_field :time, class: "form-control"

        .row
          .col-md-4
            = f.label :food
            = f.text_field :food_type, class: "form-control"
          .col-md-4
            = f.label :vegetarian_friendly
            = f.check_box :vegetarian, class: "form-control"
          .col-md-4
            = f.label :vegan_friendly
            = f.check_box :vegan, class: "form-control"
 
        .row
          .col-md-12
            = f.label :address_line
            = f.text_field :address_line_one, id: "searchTextField", class: "form-control", placeholder: "Reitz Union"

          = f.hidden_field :lat, class: "form-control"
          = f.hidden_field :long, class: "form-control"
 
        .row
          .col-md-6
            = f.label :building_name
            = f.text_field :building_name, class: "form-control", placeholder: "CAR"
          .col-md-6
            = f.label :room_number
            = f.text_field :room_number, class: "form-control", placeholder: "E221"

    %fieldset.actions
      = f.submit "Save", class: "btn btn-primary"

:javascript
  var defaultBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(29.649130, -82.369779),
    new google.maps.LatLng(29.641223, -82.344715));

  var input = document.getElementById('searchTextField');
  var options = {
    bounds: defaultBounds,
    types: ['establishment']
  };

  autocomplete = new google.maps.places.Autocomplete(input, options);
  autocomplete.setFields(['address_components', 'geometry', 'icon', 'name']);

  google.maps.event.addListener(autocomplete, 'place_changed', function () {
    var place = autocomplete.getPlace();
    lat = place.geometry.location.lat()
    lng = place.geometry.location.lng()
    document.getElementById("event_lat").value = lat;
    document.getElementById("event_long").value = lng;
  });
