.events
  .main-content
    %br
    %br
    .row
      .search
        = form_tag "/search" do
          .form-group
            .row
              .col-md-2
                = label_tag :food
                = select_tag :food, options_for_select(@types), class: "form-control"
              .col-md-2
                = label_tag :restrictions
                = select_tag :restrictions, options_for_select(@restrictions), class: "form-control"
              .col-md-3
                = label_tag :date
                = date_field_tag :date, nil, class: "form-control"
              .col-md-2
                = label_tag :time
                = time_field_tag :time, nil, class: "form-control"
              .col-md-2
                = label_tag :time
                = submit_tag :submit, class: "btn btn-primary"

    .row
      .main-map.col-md-6
        #map
      %table.table.table-light.table-hover.table-striped.col-md-6
        %thead.thead-light
          %tr
            %th Org
            %th When
            %th Location
            %th Food Type
            %th Restrictions
        %tbody
          - @events.each do |event|
            %tr
              %td= event.org_name
              %td= "#{event.date.try(:strftime, "%m/%d/%y")} #{event.time.try(:strftime, "%l:%M%p")}"
              %td= "#{event.building_name} #{event.room_number}"
              %td= event.food_type
              %td= "#{event.vegan} #{event.vegetarian}"

    = javascript_tag "markers = #{@events.to_json.html_safe};"
    :javascript
      var map;
      var size = parseInt("#{@size}", 10);
      var reitz = {lat: 29.6463, lng: -82.3478};

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: reitz,
          zoom: 15
        });
        var infowindow = new google.maps.InfoWindow({
          content: "Some title"
        });
        for (var i = 0; i < markers.length; ++i) {
          var currentMarker = markers[i];
          var lat = parseFloat(currentMarker.lat);
          var longitude = parseFloat(currentMarker.long)
          var position = {lat: lat, lng: longitude};
          var title = "<h3>" + currentMarker.food_type + ": " + currentMarker.date + " " + currentMarker.time + "</h3>";
          var content = "Some content";
          var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: title,
            label: "" + (i + 1)
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(this.title);
            infowindow.open(map, this);
          });
        }
      }

    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=initMap", async: true,  defer: true}

  .form
    = form_for @event do |f|
      %fieldset
        .form-group
          .row
            .col-md-6
              = f.label :org
              = f.text_field :org_name, class: "form-control", placeholder: "Association of Computer Engineers"
            .col-md-3
              = f.label :date
              = f.date_field :date, class: "form-control"
            .col-md-3
              = f.label :time
              = f.time_field :time, class: "form-control"

          .row
            .col-md-4
              = f.label :food
              = f.select :food_type, @types, {}, class: "form-control"
            .col-md-4
              = f.label :vegetarian_friendly
              = f.select :vegetarian, @options, {}, class: "form-control"
            .col-md-4
              = f.label :vegan_friendly
              = f.select :vegan, @options, {}, class: "form-control"

          = f.label :address_line_1
          = f.text_field :address_line_one, class: "form-control", placeholder: "686 Museum Rd, Gainesville"

          .row
            .col-md-6
              = f.label :building_name
              = f.text_field :building_name, class: "form-control", placeholder: "686 Museum Rd, Gainesville"
            .col-md-6
              = f.label :room_number
              = f.text_field :room_number, class: "form-control", placeholder: "E221"
      %fieldset.actions
        = f.submit "Save", class: "btn btn-primary"
  .footer-links
    %br
    %br
