.events
  .main-content
    %br
    %br
    .panel.primary
      .panel-header
        %h1 Search
      .search.panel-body
        = form_tag "/search" do
          .form-group
            .row
              .col-md-3
                = label_tag :food
                = select_tag :food, options_for_select(@types), class: "form-control"
              .col-md-3
                = label_tag :restrictions
                = select_tag :restrictions, options_for_select(@restrictions), class: "form-control"
              .col-md-3
                = label_tag :date
                = date_field_tag :date, nil, class: "form-control"
              .col-md-2
                = label_tag :time
                = time_field_tag :time, nil, class: "form-control"
              .col-md-1
                = label_tag "."
                = submit_tag :search, class: "btn btn-primary"

    .row
      .main-map.col-md-12
        #map
    %br
    .row
      %table.table.table-light.table-hover.table-striped.col-md-8
        %thead.thead-light
          %tr
            %th Org
            %th When
            %th Location
            %th Food Type
            - if current_user.present?
              %th Actions
        %tbody
          - @events.each do |event|
            %tr.event-details{data: {id: event.id}}
              %td= event.org_name
              %td= "#{event.date.try(:strftime, "%m/%d/%y")} #{event.time.try(:strftime, "%l:%M%p")}"
              %td= "#{event.building_name} #{event.room_number}"
              %td= event.food_type
              - if current_user.present? && current_user.id == event.user_id
                %td
                  = link_to "Edit", edit_event_path(event.id), class: "btn btn-sm btn-warning"
                  = link_to "Delete", event_path(event.id), method: :delete, class: "btn btn-sm btn-danger"
      .col-md-4
        = render "details", event: Event.new
    = javascript_tag "markers = #{@events.to_json.html_safe};"
    :javascript
      var map;
      var reitz = {lat: 29.6463, lng: -82.3478};

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: reitz,
          zoom: 16
        });
        var infowindow = new google.maps.InfoWindow({
          content: "Some title"
        });
        for (var i = 0; i < markers.length; ++i) {
          var currentMarker = markers[i];
          var lat = parseFloat(currentMarker.lat);
          var longitude = parseFloat(currentMarker.long)
          var position = new google.maps.LatLng(lat, longitude);
          var markerDates = currentMarker.date.split("-");
          var markerDate = markerDates[2] + "/" + markerDates[1] + "/" + markerDates[0];
          var markerTime = currentMarker.time.split("T")[1].split(".")[0];
          if (parseInt(markerTime.substring(0, 2)) == 12) {
            markerTime += " PM";
          } else if (parseInt(markerTime.substring(0, 2)) > 12) {
            var hours = parseInt(markerTime.substring(0, 2)) - 12;
            var otherParts = markerTime.split(":");
            markerTime = hours + ":" + otherParts[1] + " PM";
          } else {
            markerTime += " AM";
          }
          var title = "<h6>" + currentMarker.org_name + ": " + markerDate + " " + markerTime + "</h6> <p> Food: " + currentMarker.food_type + "</p>";
          title += "<p> Where: " + currentMarker.building_name + " " + currentMarker.room_number + "</p>";
          title += "<p> Vegan: " + currentMarker.vegan + "</p> <p> Vegetarian: " + currentMarker.vegetarian + "</p>";
          var content = "Some content";
          var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: title,
            label: "" + (i + 1)
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(this.title);
            infowindow.open(map, this);
          });
        }
      }

    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=initMap", async: true,  defer: true}

  - if current_user.present?
    = render "form"
  .footer-links
    %br
    %br
